.Playlist {
    padding: 50px;
    width: 40%;
}

.PlaylistContainer {
    position: sticky;
    top: 10px;
    height: 100vh;
    max-height: 90vh;
    overflow-y: auto;
    height: auto;
    
}

.Playlist input {
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
    display: block;
}

.PlaylistSave {
    display: block;
    margin-top: 20px;
}